RPC_URL=http://127.0.0.1:8545
WS_URL=ws://127.0.0.1:8545
DEPLOYMENT_PATH=../contracts/deployments/local.json
BOT_PRIVKEY=0x47e179ec197488593b187f80a00eb0da91f1b9d0b13f8733639f19c30a34926a
TICK_INTERVAL_MS=15000
LOG_LEVEL=info
# Set to the block number near your deployment to avoid exceeding RPC log range limits
START_BLOCK=0
